[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart={{jupyter_notebook_dir}}/jupyter-run.sh
User={{ansible_env.USER}}
Group={{ansible_env.USER}}
WorkingDirectory={{jupyter_notebook_dir}}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
